<h2>BOARD</h2>


<div class="board">
    <app-cell class="cell-column" *ngFor="let cell of cells | slice:0:3;"
              [value]="cell.value"
              (userClick)="onClick(cell)">
    </app-cell>


    <app-cell class="cell-column" *ngFor="let cell of cells | slice:3:6;"
              [value]="cell.value"
              (userClick)="onClick(cell)">
    </app-cell>

    <app-cell class="cell-column" *ngFor="let cell of cells | slice:6:9;"
              [value]="cell.value"
              (userClick)="onClick(cell)">
    </app-cell>
</div>
